#about h2 {
    margin-bottom: 6rem;
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;

}

.about__me {
    width: 100%;
    height: 80%;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary));
    display: grid;
    place-items: center;
}

.about__me-image {
    width: 100%;
    height: 100%;
    transition: var(--trans-ease);
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(10deg)
}

.about__me-image:hover {
    transform: rotate(0deg)
}

/* Cards */

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    transition: var(--trans-ease);
    cursor: pointer;
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.about__card .about_icon {
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.about__card h5 {
    font-size: 1rem;
    letter-spacing: 1px;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light)
}

.about__content p {
    margin: 2rem 0rem 2.6rem;
    color: var(--color-light)
}