nav {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
}

nav a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

nav a.active {
    color: var(--color-white);
    font-weight: bold;
    border-bottom: 1px solid var(--color-white);
}
/* Mobiles */
@media screen and (max-width: 600px) {
    nav span {
        display: none;
    }
}